uvicorn[standard]
fastapi
jwt
sqlalchemy
psycopg2
python-dotenv
# authlib
httpx
python-multipart
python-jose
# db table migration lib
alembic
# 몰?루
requests
bcrypt
pydantic[email]
# google auth
google-auth
google-api-python-client
google-auth-oauthlib